section {
  gap: 4px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;


  img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
  }

  h3 {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
  }

  h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--color-secondary);
  }

  div {
    display: flex;
    margin-top: 12px;
    color: var(--color-secondary);

    svg {
      height: 24px;
      padding: 0 8px;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
